body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Common*/
a {
  color: white;
  text-decoration: none;
}

/*Navbar*/

.nav {
  display: flex;
  background: linear-gradient(40deg, #4c4c6d, #47597e);
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  color: white !important;
}
.nav .search {
  flex-grow: 0.5;
  position: relative;
  display: flex;
}
.search input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 0.7rem;
}
.horizontal-list {
  list-style: none;
  display: flex;
}
.horizontal-list li {
  padding: 0 10px;
}

/*Sign in and Sign up forms*/

.signin-form-container,
.signup-form-container {
  margin-top: 50px;
}
.signin-form,
.contact-form,
.signup-form {
  width: 300px;
  padding: 40px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  border: #125d98 2px solid;
}
.signin-form input,
.contact-form input,
.signup-form input {
  height: 50px;
  width: 250px;
  margin: 5px 0;
  padding-left: 15px;
  outline: none;
  border-radius: 0.7rem;
  border: #3c8dad 2px solid;
}
.signin-form button,
.contact-form button,
.signup-form button {
  height: 50px;
  width: 270px;
  margin: 5px 0;
  padding: 0 15px;
  outline: none;
  border: 2px solid gray;
  border-radius: 0.7rem;
  background: linear-gradient(45deg, #005a8d, #dbe6fd);
}
.signin-form button:hover,
.signup-form button:hover {
  background: linear-gradient(90deg, #005a8d, #dbe6fd);
  transition: background 1s ease-in-out;
}

/*Home Page to display all books*/
.book-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  border: #4c4c6d 2px solid;
  border-radius: 10px 2px 10px 2px;
  margin-top: 10px;
  position: relative;
}
.image-container{
  margin: 3px 10px;
  padding: 5px;
}
.info-container {
  width: 30%;
  padding-left: 7%;
}
.description-container{
  width: 50%;
}